<div class="banner-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>The Gin Palace</h1>
    <p>Drink with sophistication</p>
  </div>
</div>

<h1>Finest Cocktails</h1>

<div>
<ul>
<% @cocktails.each do |cocktail|%>
<li><%= link_to cocktail.name, cocktail_path(cocktail)  %></li>
<% end %>


<%= link_to "Add a new cocktail!", new_cocktail_path  %>