<h1><%= @cocktail.name %></h1>
<%# <p><%= @cocktail.ingredients %><%#= @cocktail.doses</p> %> 

<%= link_to "Add to the recipe", new_cocktail_dose_path(@cocktail) %>
<%#= link_to "Remove a dosage", cocktail_dose(@dose) %>

<%= link_to "Back to Menu", cocktails_path %>

