.cocktail-cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 12px;
}

.cocktail-card {
  flex-grow: 1;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  color: white;
  position: relative;
}

.button-menu {
  text-decoration: none;
}

.new-cocktail {

}