.cocktail-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 12px;
}

body {
  background-color: #f0f0f0;
  font-family: 'Quicksand', sans-serif;
}

main {
  padding: 32px;
}

section {
  display: flex;
  justify-content: center;
}

.cocktail-card {
  display: inline-block;
  background-color: #ffffff;
  margin: 24px;
  padding: 16px;
  width: 312px;
  min-width: 288px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  transition: .4s;
}

.cocktail-card:hover {
  box-shadow: none;
  
  .cocktail-image {
    transform: translateX(0px);
    box-shadow: none;
  }
}

.cocktail-image {
  width: 100%;
  height: 256px;
  border-radius: 8px;
  position: relative;
  transform: translateX(-32px);
  box-shadow: 16px 4px 24px 0 rgba(0, 0, 0, 0.2);
  transition: .4s;
  object-fit: cover;
}

.cocktail-card-body {
  padding: 8px;
}

.cocktail-card-title {
  font-size: 32px;
  margin: 12px 0;
  transition: .4s;
  font-family: 'DM Serif Display', serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.cocktail-card-text {
  font-size: 14px;
  margin-bottom: 8px;
}